[submodule "utils"]
	path = utils
	url = git@github.com:asrivast28/cpp-utils.git
[submodule "graph"]
	path = graph
	url = git@github.com:asrivast28/graph-api.git
[submodule "mxx"]
	path = mxx
	url = git@github.com:asrivast28/mxx.git
[submodule "SABNAtk"]
	path = SABNAtk
	url = git@github.com:asrivast28/SABNAtk.git
