[submodule "SABNAtk"]
	path = SABNAtk
	url = https://gitlab.com/SCoRe-Group/SABNAtk.git
[submodule "utils"]
	path = utils
	url = https://github.com/asrivast28/cpp-utils.git
[submodule "graph"]
	path = graph
	url = https://github.com/asrivast28/graph-api.git
[submodule "mxx"]
	path = mxx
	url = https://github.com/patflick/mxx.git
