[submodule "utils"]
	path = utils
	url = ../cpp-utils.git
[submodule "graph"]
	path = graph
	url = ../graph-api.git
[submodule "mxx"]
	path = mxx
	url = ../../patflick/mxx.git
[submodule "common"]
	path = common
	url = ../bn-utils.git
